<head><link rel="stylesheet" href="../static/css/admin.css"></head>

<div class="admin-panel clearfix">
  <div class="slidebar">
    <div class="logo">
      <a href=""></a>
    </div>
    <ul>
      <li><a href="#dashboard" id="targeted">Dashboard</a></li>
    <!--  <li><a href="#Reporting Devices">Reporting Devices</a></li>
      <li><a href="#Locations">Locations</a></li>
      <li><a href="#Device Types">Device Types</a></li>
      <li><a href="#Measurements">Measurements</a></li>
      <li><a href="#Measurement Types">Measurement Types</a></li>
      <li><a href="#Users">Users</a></li>-->
    </ul>
  </div>
  <div class="main">
    <div class="mainContent clearfix">



      <!-- <div id="Reporting Devices">
         <h2 class="header">Reporting Devices</h2>

         <table width=782px height=500px>
           <tr>
             <td height=100px>id</td><td height=100px>name</td>
             <td height=100px>description</td><td height=100px>lastIpaddress</td>
             <td height=100px>device_type_id</td><td height=100px>location_id</td>
           </tr>

           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
         </table>

       </div>
       <div id="Locations">
         <h2 class="header">Locations</h2>

         <table width=782px height=500px>
           <tr>
             <td height=100px>id</td><td height=100px>name</td>
             <td height=100px>description</td>
           </tr>

           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
         </table>



       </div>
       <div id="Device Types">
         <h2 class="header">Device Types</h2>


         <table width=782px height=500px>
           <tr>
             <td height=100px>id</td><td height=100px>name</td>
             <td height=100px>description</td>
           </tr>

           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
         </table>

       </div>
       <div id="Measurements">
         <h2 class="header">Measurements</h2>


     <table width=782px height=500px>
           <tr>
             <td height=100px>id</td><td height=100px>measurement_type_id</td>
             <td height=100px>reporting_device_id</td><td height=100px>location_id</td>
             <td height=100px>measured_value</td><td height=100px>measured_date</td>
           </tr>

           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
         </table>

       </div>
       <div id="Measurement Types">
         <h2 class="header">Measurement Types</h2>

         <table width=782px height=500px>
           <tr>
             <td height=100px>id</td><td height=100px>name</td>
             <td height=100px>description</td>
           </tr>

           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
         </table>


       </div>
       <div id="Users">
         <h2 class="header">Users</h2>

         <div class="quick-press">
           <h4>Quick Press</h4>
           <form action="" method="post">
             <input type="text" name="title" placeholder="Title"/>
             <input type="text" name="content" placeholder="Content"/>
             <input type="text" name="tags" placeholder="Tags"/>
             <button type="submit" class="submit" name="submit">Publish</button>
           </form>
         </div>

         <table width=782px height=500px>
           <tr>
             <td height=100px>ssn</td><td height=100px>first_name</td>
             <td height=100px>last_name</td><td height=100px>user_name</td>
             <td height=100px>password</td><td height=100px>description</td>
           </tr>

           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
           <tr><td height=100px>DENEME1</td><td height=100px>DENEME2</td></tr>
         </table>


       </div>-->

       <div id="dashboard">
         <h2 class="header"><span class="icon"></span>Dashboard</h2>

         <div>
          <!--  <form action="" method="post">
              <input type="text" name="title" placeholder="Title"/>
              <input type="text" name="content" placeholder="Content"/>
              <input type="text" name="tags" placeholder="Tags"/>
              <button type="button" class="save">l</button>
              <button type="button" class="delet">m</button>
              <button type="submit" class="submit" name="submit" padding="20">Publish</button>
              <button type="submit" class="submit" name="submit">Publish</button>
              <button type="submit" class="submit" name="submit">Publish</button>
              <button type="submit" class="submit" name="submit">Publish</button>
            </form>-->

            <form action="" method="post">
            <table width=782px height=500px>
              <tr>
                <td height=100px><button type="submit">Insert Reporting Device</button></td><td height=100px><button type="submit">Insert Location</button></td>
              </tr>

              <tr>
                <td height=100px><button type="submit">Insert Device Type</button></td><td height=100px><button type="submit">Insert Measurement</button></td>
              </tr>

              <tr>
                <td height=100px><button type="submit">Insert Measurement Type</button></td><td height=100px><button type="submit">Insert User</button></td>
              </tr>


            </table>
          </form>



          </div>
        </div>
     </div>

   </div>
</div>
