<head><link rel="stylesheet" href="../static/css/admin.css"></head>

<div class="admin-panel clearfix">
  <div class="slidebar">
    <div class="logo">
      <a href="#"></a>
    </div>
    <ul>
    <!--  <li><a href="#Reporting Devices">Reporting Devices</a></li>
      <li><a href="#Locations">Locations</a></li>
      <li><a href="#Device Types">Device Types</a></li>
      <li><a href="#Measurements">Measurements</a></li>
      <li><a href="#Measurement Types">Measurement Types</a></li>
      <li><a href="#Users">Users</a></li>-->
    </ul>
  </div>
  <div class="main">

    <div id="dashboard">
      <h2 id="dash_header" class="header" align="center">Dashboard</h2>

      <div>


         <table width=782px height=500px>
           <tr>
             <td height=100px><a href="{{ url_for('admin.reporting_devices') }}">Reporting Device Table</a></td><td height=100px><a href="{{ url_for('admin.locations') }}">Location Table</a></td>
           </tr>

           <tr>
             <td height=100px><a href="{{ url_for('admin.device_types') }}">Device Type Table</a></td><td height=100px><a href="{{ url_for('admin.measurements') }}">Measurement Table</a></td>
           </tr>

           <tr>
             <td height=100px><a href="{{ url_for('admin.measurement_types') }}">Measurement Type Table</a></td><td height=100px><a href="{{ url_for('admin.users') }}">User Table</a></td>
           </tr>


         </table>




       </div>
     </div>
    <div class="mainContent clearfix">




     </div>

   </div>
</div>
